.new-task{
    display: flex;
    flex: 1;
    flex-flow: column;
    padding: 0 50px 20px 0;

    .title-tab{
        font-size: 22px;
        font-weight: bold;
        padding: 20px 0 40px 0;
    }

    .form-tab{
        display: flex;
    }

    .form-description{
        flex: 1;
        .form-title{
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 4px;
        }
        .form-text{
            color: #00000073;
        }
    }

    .input-form{
        flex: 1;
        display: flex;
        flex-flow: column;
        label{
            margin-bottom: 5px;
        }
        .invite-input{
            display: flex;
            button{
                margin-left: 4px;
            }
        }
        #project-name, #subject-name{
            margin-bottom: 15px;
        }
    }

    .invite-list{
        margin: 15px 0;
        height: 200px;
        overflow-y: auto;
    }

    .submit{
        display: flex;
        justify-content: right;
    }
}