.home{
  display: flex;
  flex: 1;
  flex-flow: column;
  padding: 0 50px;

  .project-title-tab{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0;
  }
  .task-title-tab{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0 10px 0;
  }

  .my-task-list{
    cursor: pointer;
  }
  .my-task-list:hover{
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
  }
}