.notification{
  display: flex;
  flex-flow: column;
  width: 360px;
  border-radius: 20px;
  padding: 12px;
  background: white;

  .notification-title{
    font-weight: bold;
    font-size: 18px;
    line-height: initial;
    padding-bottom: 24px;
  }
}

.bell-button{
  border: none;
  box-shadow: none;
  transform: translateY(2px);
  overflow: hidden;
}

.bell-button:active{
  border: none;
}