.notification{
  display: flex;
  flex-flow: column;
  width: 360px;
  border-radius: 20px;
  padding: 12px;
  background: white;

  .notification-title{
    font-weight: bold;
    font-size: 18px;
    line-height: initial;
    padding-bottom: 20px;
  }

  .noti-cell{
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s opacity;
  }
  .noti-cell:hover{
    opacity: 1;
  }
}