@import 'antd/dist/antd.css';
@import 'Header.scss';
@import 'ProjectMain.scss';
@import 'Layout.scss';
@import 'ProjectIntro.scss';
@import 'SpaceCard.scss';
@import 'TaskDetail.scss';
@import 'Home.scss';
@import 'ProjectCard.scss';
@import 'NewProject.scss';
@import 'AutoOption.scss';
@import 'Notification.scss';
@import 'AddTask.scss';
@import 'ProjectDocument.scss';
@import 'ProjectContribution.scss';
@import 'ProjectCalendar.scss';
@import 'ProjectManage.scss';

*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

#root{
    height: 100%;
    min-height: 100%;
}

.layout{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
}