.task-detail{
  display: flex;
  flex-direction: column;
  padding: 10px 50px 0px 0px;
  width: 100%;
  overflow-y: auto;
  .due-tag{
    display: flex;
    align-items: center;
    .status-tag{
      margin-left: 8px;
      cursor: pointer;
    }
  }
  .task-info{
    display: flex;
    color: #BBBBBB;
    font-size: 14px;
    font-weight: bold;
  }
  .task-due{
    padding: 8px 0;
    font-weight: bold;
    font-size: 16px;
    color: #00000073;
  }
  .task-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    height: 50px;
    .task-avatar{
      display: flex;
      align-items: center;
      .avatar{
        margin-left: 12px;
      }
    }
    .edit-name{
      height: 30px;
      border: 2px #777777 solid;
      color: #777777;
      font-size: 13px;
      font-weight: 600;
      border-radius: 7px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .edit-name:hover{
      cursor: pointer;
      border-color: #222222;
      color: #222222;
    }
  }
  .edit-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .edit-name-container{
      height: 50px;
      display: flex;
      margin-top: 20px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .edit-name-button-container{
        display: flex;
        width: 200px;
        height: 40px;
        justify-content: flex-end;
        align-items: center;
        .edit-name-save{
          height: 30px;
          border: 2px #777777 solid;
          color: #777777;
          font-size: 13px;
          font-weight: 600;
          border-radius: 7px;
          width: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .edit-name-save:hover{
          cursor: pointer;
          border-color: #222222;
          color: #222222;
        }
        .edit-name-cancel{
          height: 25px;
          color: #555555;
          font-size: 12px;
          font-weight: 600;
          width: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .edit-name-cancel:hover{
          cursor: pointer;
          border-color: #222222;
          color: #222222;
        }
      }
    }
  }
  .task-content{
    margin-top: 14px;
    font-size: 15px;
    font-weight: 500;
    color: #111111;
  }
  .bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    width: 100%;
    .comment-container{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
      .comment-header{
        display: flex;
        border-bottom: 2px #dddddd solid;
        width: 100%;
        font-weight: 600;
        font-size: 20px;
      }
      .comment-box:hover{
        cursor: pointer;
        background-color: #f0f0f0;
      }
    }
    .documents-container{
      display: flex;
      flex-direction: column;
      width: 50%;
      padding-left: 10px;
      .document-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px #dddddd solid;
        width: 100%;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 10px;
      }
      .doc-button-tab{
        display: flex;
        justify-content: right;
        margin-top: 8px;
      }
      .document-container{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .document-left{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          // border-right: 2px #dddddd solid;
          padding-right: 10px;
          width: 40%;
          .document-uploaded{
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 10px;
            .file-name-container{
              display: flex;
              width: 100%;
              justify-content: space-between;
            }
            .file-info{
              display: flex;
              width: 100%;
              font-size: 9px;
              color: #aaaaaa;
              justify-content: space-between;
            }
          }
        }
        .document-right{
          display: flex;
          width: 60%;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-start;
          padding-left: 10px;
        }
      }
    }
  }
}