.user-profile{
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  .name-edit{
    margin-top: 24px;
  }
  .name-flex{
    display: flex;
  }
  .save-div{
    margin-top: 12px;
    display: flex;
    justify-content: center;
  }
  .profile-image{
    cursor: pointer;
    font-size: 100px !important;
  }
  .profile-image:hover:before {
    content: "Upload";
    background: rgba(0, 0, 0, 0.7);
  }
  .profile-image:before { 
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: none;
    transition: all .2s linear;
    font-size: 24px;
    z-index: 2;
  }
  .delete-image{
    margin-top: 12px;
  }
}
